<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.prowim.portal.ApplicationEntryPoint"
            id="org.prowim.portal.ApplicationEntryPoint"
            parameter="app">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.prowim.portal.MainPerspective"
            id="org.prowim.portal.MainPerspective"
            name="ProWim Main Perspective">
      </perspective>
      <perspective
            class="org.prowim.portal.ViewerEditorPerspective"
            id="org.prowim.portal.ViewerEditorPerspective"
            name="ViewerEditorPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.prowim.portal.view.NavigationView"
            id="org.prowim.portal.view.NavigationView"
            name="NavigationView"
            restorable="true">
      </view>
      <view
            class="org.prowim.portal.view.HeaderView"
            id="org.prowim.portal.view.HeaderView"
            name="HeaderView"
            restorable="true">
      </view>
      <view
            class="org.prowim.portal.view.BlankView"
            id="org.prowim.portal.view.BlankView"
            name="BlankView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.process.ExecutableProcessesView"
            id="org.prowim.portal.view.process.ExecutableProcessesView"
            name="ExecutableProcessesView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.process.ActiveProcessesView"
            id="org.prowim.portal.view.process.ActiveProcessesView"
            name="ActiveProcessesView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.process.FinishedProcessesView"
            id="org.prowim.portal.view.process.FinishedProcessesView"
            name="FinishedProcessesView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.activity.WorkingListView"
            id="org.prowim.portal.view.activity.WorkingListView"
            name="WorkingListView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.process.ProcessStartView"
            id="org.prowim.portal.view.process.ProcessStartView"
            name="ProcessStartView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.knowledge.ProcessKnowView"
            id="org.prowim.portal.view.knowledge.ProcessKnowView"
            name="ProcessKnowView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.process.ProcessInfoView"
            id="org.prowim.portal.view.process.ProcessInfoView"
            name="ProcessInfoView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.process.ProcessBrowserView"
            id="org.prowim.portal.view.process.ProcessBrowserView"
            name="ProcessBrowserView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.process.CommonTreeView"
            id="org.prowim.portal.view.process.ShowProcessView"
            name="ShowProcessView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.knowledge.KnowledgeSearchView"
            id="org.prowim.portal.view.knowledge.KnowledgeSearchView"
            name="KnowledgeSearchView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.knowledge.KnowledgeStructureView"
            id="org.prowim.portal.view.knowledge.KnowledgeStructureView"
            name="KnowledgeStructureView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.process.ProcessModelEditorView"
            id="org.prowim.portal.view.process.ProcessModelEditorView"
            name="ProcessModelEditorView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.process.ModelEditorView"
            id="org.prowim.portal.view.process.ModelEditorView"
            name="ModelEditorView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.admin.AdminView"
            id="org.prowim.portal.view.admin.AdminView"
            name="AdminView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.process.ViewerEditorView"
            id="org.prowim.portal.view.process.ViewerEditorView"
            name="ViewerEditorView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.document.DocumentView"
            id="org.prowim.portal.view.document.DocumentView"
            name="DocumentView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.prowim.portal.view.document.UploadView"
            id="org.prowim.portal.view.document.UploadView"
            name="UploadView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="org.prowim.portal.ApplicationEntryPoint"
            exitConfirmationClass="org.prowim.portal.ExitProwim"
            favicon="img/icon/prowim_icon.ico"
            id="ProWim.branding"
            servletName="app"
            title="ProWim 3.0.0">
      </branding>
   </extension>
   <extension
         id="org.prowim.services.client.CustomClientLoginModule"
         name="org.prowim.services.client.CustomClientLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.prowim.services.client.CustomClientLoginModule">
      </loginModule>
   </extension>
   

</plugin>
